**/node_modules
**/npm-debug.log
**/yarn-debug.log
**/yarn-error.log
**/.npm
**/.yarn
**/.git
**/.next
**/.DS_Store
**/Dockerfile
**/.dockerignore
**/README.md
**/LICENSE
**/*.md
**/*.log
**/coverage
**/.env
**/.env.local
**/.env.production
**/.env.development